/*footer*/
.site-footer {
    background-color: #9B111E; /* dark blue */
    color: white;
    padding: 40px 20px 20px;
    font-size: 0.8rem;
}

.footer-main {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align:center;
}


.footer-bottom {
    border-top: 1px solid #0f1f3b;
    padding-top: 10px;
    text-align: center;
    font-size: 0.75rem;
    color: #a0a0a0;
}

.footer-bottom a {
    color: #000000;
    text-decoration: none;
}

